/* body {
  background-color: #080808;
} */

header.masthead {
    height: 100%;
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url("/images/bridge.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
  
.masthead-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
  
.masthead #title {
    text-shadow: .5px .5px 4px #696969;
}
  
.masthead #title-text {
    text-shadow: .5px .5px 4px #696969;
}
  
  
@media (min-width: 992px) {
        header.masthead {
            height: 100vh;
            min-height: 40rem;
            padding-top: 4.5rem;
            padding-bottom: 0;
        }
        header.masthead p {
            font-size: 1.15rem;
        }
        header.masthead h1 {
            font-size: 3rem;
        }
  }
  @media (min-width: 1200px) {
        header.masthead h1 {
            font-size: 3.5rem;
        }
  }
  
.img-fluid {
    filter: hue-rotate(0deg) saturate(110%) contrast(.80);
}
  
#food .container-fluid, #food .container-sm, #food .container-md, #food .container-lg, #food .container-xl {
    max-width: 1920px;
}
#food .container-fluid .food-box, #food .container-sm .food-box, #food .container-md .food-box, #food .container-lg .food-box, #food .container-xl .food-box {
    position: relative;
    display: block;
}
#food .container-fluid .food-box .food-box-caption, #food .container-sm .food-box .food-box-caption, #food .container-md .food-box .food-box-caption, #food .container-lg .food-box .food-box-caption, #food .container-xl .food-food-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align:4 center;
    opacity: 0;
    color: #fff;
    background:#D5D5D5;
    transition: opacity 0.25s ease;
    text-align: center;
}
  
#food .container-fluid .food-box .food-box-caption .project-category, #food .container-sm .food-box .food-box-caption .project-category, #food .container-md .food-box .food-box-caption .project-category, #food .container-lg .food-box .food-box-caption .project-category, #food .container-xl .food-box .food-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}
#food .container-fluid .food-box .food-box-caption .project-name, #food .container-sm .food-box .food-box-caption .project-name, #food .container-md .food-box .food-box-caption .project-name, #food .container-lg .food-box .food-box-caption .project-name, #food .container-xl .food-box .food-box-caption .project-name {
    font-size: 1.2rem;
}
#food .container-fluid .food-box:hover .food-box-caption, #food .container-sm .food-box:hover .food-box-caption, #food .container-md .food-box:hover .food-box-caption, #food .container-lg .food-box:hover .food-box-caption, #food .container-xl .food-box:hover .food-box-caption {
    opacity: 1;
}
  
/* Contact Page */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
input[type=submit] {
    background-color: #ddd;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 1ex;
}
  
input[type=submit]:hover {
    background-color: #555;
}
  
.container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
  
#contact-page > div > h3 {
    font-size: 2em;
    font-family: 'baskerville';
    font-weight: lighter;
    letter-spacing: 4px;
    /* margin: 2ex .1ex 2.5ex 0; */
}

#cont {
      background-color: #555;
}
  